   
 
<h1 class="mt-5  ms-5">Welcome To Admin Panel

    <a asp-action="Index" asp-controller="Blog" class="btn btn-inverse"> <i class="btn btn-dark">Blog</i></a>
    <a asp-action="Index" asp-controller="Setting" class="btn btn-inverse"> <i class="btn btn-warning ">Settings</i></a>
</h1>

